<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Crop_Prediction_Form</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/style.css" rel="stylesheet">

</head>

<body>
<form action="/crop_recommendation" method="post" id="form1">
    <label for="n">N:</label>
    <input type="number" name="n">


    <label for="p">P:</label>
    <input type="number" name="p">


    <label for="k">K</label>
    <input type="number" name="k">


    <label for="temperature">Temperature:</label>
    <input type="number" name="temperature">


    <label for="humidity">Humidity:</label>
    <input type="number" name="humidity">


    <label for="ph">Ph:</label>
    <input type="number" name="ph">
    
    <label for="rainfall">Rainfall:</label>
    <input type="number" name="rainfall">
<input type="submit" value="Submit">
</form>
</body>