<!DOCTYPE html>
<html lang="en">
<!---->
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Project Takshak</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/style.css" rel="stylesheet">
  <script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
  <script>
      function loadGoogleTranslate() {
        new google.translate.TranslateElement("myid")
      }
  </script>
</head>
<body>
  
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="static/img/robot_logo.jpeg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Takshak</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="+91-8793702047" class="poppins"><i class="fa fa-phone"></i></a>
          <a href="https://www.instagram.com/harshdevmurari007/" class="poppins"><i class="fa fa-instagram"></i></a>
          <a href="https://github.com/Harsh19012003" class="poppins"><i class="fa fa-github"></i></a>
          <a href="https://www.linkedin.com/in/devmurari-harshkumar/" class="poppins"><i class="fa fa-linkedin"></i></a>
          <a href="https://discordapp.com/users/752480638262575104/" class="poppins"><i class="fa fa-discord"></i></a>
          <a href="https://www.youtube.com/@harshdevmurari007/videos" class="poppins"><i class="fa fa-youtube"></i></a>
          <a href="#" class="poppins"><i class="fa fa-envelope"></i></a>

          
          

        </div>
      </div>
      </div>
      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="http://127.0.0.1:5000/" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>HOME</span></a></li>
          <li><a href="http://127.0.0.1:5000/crop_recommendation" class="nav-link scrollto"><i class="bx bx-user"></i> <span>CROP RECOMMENDATION</span></a></li>
          <li><a href="http://127.0.0.1:5000/yield_prediction" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>YIELD PREDICTION</span></a></li>
          <li><a href="http://127.0.0.1:5000/disease_detection" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>DISEASES DETECTION</span></a></li>
          <li><a href="http://127.0.0.1:5000/weed_detection" class="nav-link scrollto"><i class="bx bx-server"></i> <span>WEED DETECTION</span></a></li>
          
      </nav>
    </div>
  </header>
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Project Takshak</h1>
      <p>Farmer <span class="typed" data-typed-items="Assistant, Helper, Friend, Wingman"></span></p>
    </div>
  </section>
  <main id="main">
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
            consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
            in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="static/main_farm.jpeg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Schmeas for Farmers</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore
              magna aliqua.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Pradhan Mantri Krishi Sinchai Yojana.</strong> <span></span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Kisan Maan Dhan Yojana.</strong> <span></span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Kisan Samman Nidhi </strong> <span></span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Kisan Helpline Number</strong> <span></span></li>
                </ul>
              </div>
            </div>
            <p>
              Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et
              ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
              Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque.
              Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="facts" class="facts">
      <div class="container">

        <div class="section-title">
          <h2>Facts</h2>
          <p>Welcome to Takshak, Your Personal Farm Assistant, a digital hub dedicated to supporting farmers on their agricultural journey. We recognize the essence of farming as not just a profession but a way of life, and our platform is designed to seamlessly integrate innovation with traditional practices. Our community is a vibrant space where farmers, agri-enthusiasts, and experts converge, fostering connections and knowledge exchange. We are committed to empowering farmers by providing tools and insights that bridge the gap between conventional methods and modern technologies. Sustainability is a cornerstone of our approach, and we encourage practices that contribute to a greener, more environmentally conscious agriculture. As you navigate through Farmer Assistant, discover a wealth of resources, stay informed about the latest trends, and join us in cultivating a future where passion meets precision in the world of agriculture.</p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
                class="purecounter"></span>
              <p><strong>🌾 Crop Recommendation:</strong> Experience precision farming with our advanced AI models that analyze soil conditions, climate data, and more to suggest the most suitable crops for your land. Maximize your yield potential with tailored recommendations.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                class="purecounter"></span>
              <p><strong>📊 Yield Prediction:</strong>Empower your farming decisions by harnessing the power of predictive analytics. Our AI algorithms analyze historical data and current parameters to provide accurate yield predictions. Stay ahead in planning and resource management.

              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1"
                class="purecounter"></span>
              <p><strong>🦠 Diseases Detection:</strong>Early detection is key to safeguarding your crops. Farmer Assistant uses cutting-edge technology to identify potential diseases affecting your crops. Receive timely alerts and actionable insights to protect your harvest.

              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1"
                class="purecounter"></span>
              <p><strong>🌿 Weed Detection:</strong>Unwanted weeds can impact your crop's growth. Our AI models identify and classify weeds, enabling you to take proactive measures. Keep your fields weed-free and optimize your crop yield.</p>
            </div>
          </div>

        </div>

      </div>
    </section>
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Accuracy of System</h2>
          <p>The accuracy of Takshak's four machine learning models—dedicated to Crop Recommendation, Yield Prediction, Diseases Detection, and Weed Detection—is a testament to our commitment to precision in agriculture. Rigorously trained and fine-tuned, these models leverage advanced algorithms to provide farmers with reliable and accurate insights. From suggesting optimal crops based on soil conditions to predicting yields with precision, identifying potential diseases early on, and effectively detecting weeds, Takshak's machine learning models are designed to enhance decision-making in every facet of farming. Rest assured, our focus on accuracy empowers farmers with dependable tools for a more efficient and productive agricultural experience.
          </p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">🌾 Crop Recommendation <i class="val">97.8%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="97.8" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">📊 Yield Prediction <i class="val">95.6%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="95.6" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">🌿 Weed Detection <i class="val">80.4%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80.4" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">🦠 Diseases Detection <i class="val">86.4%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="86.4" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
            consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
            in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="">Lorem Ipsum</a></h4>
            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
              occaecati cupiditate non provident</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4 class="title"><a href="">Dolor Sitema</a></h4>
            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat tarad limino ata</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-bar-chart"></i></div>
            <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat nulla pariatur</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-binoculars"></i></div>
            <h4 class="title"><a href="">Magni Dolores</a></h4>
            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              mollit anim id est laborum</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bi bi-brightness-high"></i></div>
            <h4 class="title"><a href="">Nemo Enim</a></h4>
            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
              voluptatum deleniti atque</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="bi bi-calendar4-week"></i></div>
            <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
              soluta nobis est eligendi</p>
          </div>
        </div>

      </div>


    </section>
  </main>
  <!-- line 277 to 282 mese ek script chahiye jo skills ke animation ko rakhe, baki sab nikal do-->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <script src="/static/glightbox.min.js"></script>
  <script src="/staticisotope.pkgd.min.js"></script>-->
  <script src="/static/swiper-bundle.min.js"></script>
  <script src="/static/typed.min.js"></script>
  <script src="/static/noframework.waypoints.js"></script> -->
  <script src="/static/main.js"></script>

</body>

</html>